/*first attempt
*/
/*.card {
	height: 100px;
	width: 100px;
	float: left;
	border-style: solid;
	border-width: 2px;
	border-color: black;


}

.cards {
	height: 450px;
	width: 60px;
	padding-left: 15px;
	padding-top: 20px;
	

.score {
	height: 400px;
	width: 300px;
	float: left;
}*/

div#memoryBoard{
	background: #CCC;
	border: #999 1 px solid;
	width: 800px;
	height: 540px;
	padding: 24px;
	margin: 0px auto; 
}

div#memoryBoard > div{
	background: blue no-repeat;
	border: #000 1px solid;
	width: 71px;
	float: left;
	margin: 10px;
	padding: 20px;
	font-size: 64px;
	cursor: pointer;
	text-align: center;

}