
.background {
	background-color: black;
	background-size: cover; 
}

.home{
	background-color: black;
}

.head{
	text-align: center;
	font-family: Nosifer;
	font-size: 50px;
	color: red;
	background-color: black;
}

.score {
	height: 300px;
	width: 300px;
	float: left;
	background-color: black;
}

.playerOne{
	text-align: center;
	font-family: Nosifer;
	color: red;
	font-size: 25px;
}

.counterOne {
	text-align: center;
	font-family: Nosifer;
	color: red;
	font-size: 25px;


}

.playerTwo{
	text-align: center;
	font-family: Nosifer;
	color: red;
	font-size: 25px;
}

.counterTwo{
	text-align: center;
	font-family: Nosifer;
	color: red;
	font-size: 25px;

}

div#memoryBoard{
	background: black;
	
	width: 800px;
	height: 540px;
	padding: 24px;
	margin: 0px auto; 
}

div#memoryBoard > div{
	background: url("images/card.gif"); no-repeat;
	border: #000 1px solid;
	width: 100px;
	height: 100px;
	float: left;
	margin: 10px;
	padding: 20px;
	font-size: 64px;
	cursor: pointer;
	text-align: center;
	background-color: black;

}

img {
	margin-left: -21px;
	margin-top: -48px;
}

.winpage {
	text-align: center;
	font-family: Nosifer;
	color: red;
	font-size: 40px;
	margin: auto 0;
}

#winPageLabel{
	text-align: center;
	font-family: Nosifer;
	color: red;
	font-size: 40px;

}

.pleaseWork{
	text-align: center;
	font-family: Nosifer;
	color: red;
	font-size: 40px;
}